rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shows/{showId} {
      allow read, write: if true;
    }
    match /subscribers/{subscriberId} {
      allow read, write: if true;
    }
    match /metrics/{metricId} {
      allow read, write: if true;
    }
    match /banner_metrics/{venueId} {
      allow read, write: if true;
    }
  }
}
